%h3= "Shots Remaining: #{@game.shots_remaining}"

%table.game_board
  %tr
    %th
    - ('A'..'J').each do |coord|
      %th= coord
  - @game.board.each_with_index do |row, row_index|
    %tr
      %td= row_index + 1
      - row.each_with_index do |cell, col_index|
        %td=   link_to cell_contents(cell), fire_game_path(@game, x: row_index, y: col_index), method: :patch, class: cell[:status]
